@function trans2REM($value, $base-value: 75) {
  @return round($value / 75 * 100) / 100 * 1rem;
}

@mixin bg-image($url) {
  background-image: url($url+"@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url+"@3x.png");
  }
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: -apple-system, "PingFangSC-Medium", "Helvetica Neue", Helvetica,
    Arial;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
