<template>
  <div id="detail-page" style="min-height: 100%;">
    <van-row class="detail-header" v-if="company" @click="redirectMarket(company)">
      <van-col class="name" span="12">
        <div>{{ company.securitName }}</div>
        <div class="num">{{ company.securityCodeM }}</div>
      </van-col>
      <van-col class="price" span="6" :class="renderRiseOrFallClass(company.increase)">{{
        company.price
      }}</van-col>
      <van-col class="gains" span="6" :class="renderRiseOrFallClass(company.increase)"
        >{{ company.increase > 0 ? "+" + company.increase : company.increase }}%</van-col
      >
    </van-row>
    <div class="business">
      <div class="title">主营介绍</div>
      <div class="introduce test-color" ref="introduceEl">
        {{ business }}
      </div>
      <div class="no-result" v-show="business === null">
        暂无数据
      </div>
      <div v-if="hasMoreBusiness" class="more-business">
        <span @click="switchBusiness" v-if="hadCLosed">展开<van-icon name="arrow-down"/></span>
        <span @click="switchBusiness" v-else>收起<van-icon name="arrow-up"/></span>
      </div>
    </div>
    <div class="production">
      <div class="title">主营产品</div>
      <Arc
        v-if="businessProducts && businessProducts.length > 0 && company && company.securitName"
        class="arc-box"
        :title="company.securitName"
        :arc-data="businessProducts"
        :click="arcClickFn"
        :isThemeDark="isThemeDark"
      />
      <div class="no-result" v-show="businessProducts && businessProducts.length === 0">
        暂无数据
      </div>
    </div>
    <div class="industry-map">
      <div class="title">
        产业链图谱
        <span @click="explain()">数据说明</span>
      </div>
      <div class="map-graph-container" v-show="chainProducts && chainProducts.length > 0">
        <MapGraph
          v-if="chainProductsFilter && businessProducts"
          :mainData="chainProductsFilter"
          :fetchSubData="fetchSubData"
          :subClick="graphSubClickFn"
          :click="graphClickFn"
          :isThemeDark="isThemeDark"
          class="map-graph-box"
        />
        <div class="more" v-if="currentProduct">
          {{ currentProduct.productName }}
          <a @click="graphSubClickFn(currentProduct)">查看产业链图谱<van-icon name="arrow"/></a>
        </div>
      </div>
      <div
        class="map-graph-container no-result"
        v-show="chainProducts && chainProducts.length === 0"
      >
        <img v-if="isThemeDark" src="@/assets/image/dark_search_anything@3x.png" />
        <img v-else src="@/assets/image/search_anything@3x.png" />
        <p>暂无数据</p>
      </div>
    </div>
    <Statement />
    <DataExplain :showQuestion="showQuestion" :close="switchQuestionHandle" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import Statement from "@/components/Statement.vue";
import MapGraph from "@/components/MapGraph.vue";
import DataExplain from "@/components/DataExplain.vue";
import Arc from "@/components/Arc.vue";
import { getMarket, getBridge, isThemeDark, isIOS } from "@/utils";

import colors from "@/components/graph/arc/color";

let chainProductsTimer;

export default {
  name: "Detail",
  components: { Statement, MapGraph, Arc, DataExplain },
  data() {
    return {
      showQuestion: false,
      business: "",
      chainProductsFilter: null,
      currentProduct: null,
      isThemeDark: isThemeDark(),
      singleHeight: 0,
      hasMoreBusiness: false,
      hadCLosed: true
    };
  },
  watch: {
    company: function(val) {
      if (val) {
        let bgColor;

        if (this.isThemeDark) {
          bgColor = isIOS() ? "161922" : "272736";
        } else {
          bgColor = "2F569E"; //isIOS() ? "ffffff" : "2F569E";
        }
        if (val.securitName) {
          Com.setWebviewTitle("", { title: `${val.securitName} - 产业链图谱`, bgColor }, true);
        } else {
          Com.setWebviewTitle("", { title: `产业链图谱`, bgColor }, true);
        }
      }
    }
  },
  computed: {
    ...mapState("company", {
      company: "company"
    }),
    ...mapState("product", {
      businessProducts: "businessProducts",
      chainProducts: "chainProducts",
      chainList: "chainList"
    })
  },
  created() {
    this.$store.commit("company/clearCompany");
    this.$store.commit("product/clearBusinessProducts");
    this.$store.commit("product/clearChainProducts");
    this.$store.commit("product/clearChainList");
  },
  async mounted() {
    this.onEventWithLabel(`个股产业链图谱详情页`);
    setTimeout(() => {
      this.load();
    }, 100);
  },
  beforeDestroy() {
    // alert("destroy");
    this.$store.commit("company/clearCompany");
    this.$store.commit("product/clearBusinessProducts");
    this.$store.commit("product/clearChainProducts");
    this.$store.commit("product/clearChainList");
  },
  methods: {
    load() {
      this.getBusiness();
      // color_type=black&code=000001&market=1
      // market 1是深圳 2是上海
      const securityCode = this.$route.query.code;
      const userId = this.$store.state.user.user.userId;

      const g = this.$store.dispatch("company/get", { userId, securityCode });
      const bP = this.$store.dispatch("product/getBusinessProducts", { userId, securityCode });
      const cP = this.$store.dispatch("product/getChainProducts", { userId, securityCode });

      Promise.all([g, bP, cP]).then(() => {
        genData.call(this);
      });

      function genData() {
        if (this.businessProducts && this.chainProducts) {
          this.createChainProductsFilter();
        } else {
          if (chainProductsTimer) clearTimeout(chainProductsTimer);
          chainProductsTimer = setTimeout(genData.bind(this), 100);
        }
      }
    },

    createChainProductsFilter() {
      const chainProductsFilter = this.chainProducts.map(item => {
        let color;
        this.businessProducts.forEach((element, index) => {
          if (element.financeCode === item.financeCode) {
            color = colors[index];
          }
        });
        if (!color) color = "#ABBBDB";
        return { ...item, color };
      });
      this.chainProductsFilter = chainProductsFilter;
    },

    getBusiness() {
      const securityCode = this.$route.query.code;
      const market = this.$route.query.market;
      fetch(
        `https://goldsundg.guosen.com.cn:1445/gsnews/gsf10/company/brief/1.0?market=${market}&code=${securityCode}`
        // `http://61.142.2.100:1443/gsnews/gsf10/company/brief/1.0?market=${market}&code=${securityCode}`
      )
        .then(res => res.json())
        .then(res => {
          if (res && res.result && res.result[0].code === 0) {
            const rest = res.brief[0];
            this.business = "判断";
            this.$nextTick(() => {
              this.singleHeight = this.$refs.introduceEl.getBoundingClientRect().height;
              this.business = rest.business;
              this.$nextTick(() => {
                const curH = this.$refs.introduceEl.getBoundingClientRect().height;
                if (curH > this.singleHeight * 4) {
                  this.$refs.introduceEl.style.overflow = `hidden`;
                  this.$refs.introduceEl.style.height = `${this.singleHeight * 4}px`;
                  this.hasMoreBusiness = true;
                }
                this.$refs.introduceEl.classList = ["introduce"];
              });
            });
          }
        })
        .catch(e => {
          this.business = null;
        });
    },
    switchBusiness() {
      if (this.hadCLosed) {
        this.$refs.introduceEl.style.overflow = `inherit`;
        this.$refs.introduceEl.style.height = "auto";
      } else {
        this.$refs.introduceEl.style.overflow = `hidden`;
        this.$refs.introduceEl.style.height = `${this.singleHeight * 4}px`;
      }
      this.hadCLosed = !this.hadCLosed;
    },
    renderRiseOrFallClass(gains) {
      if (gains < 0) {
        return "negative";
      } else {
        return "positive";
      }
    },
    arcClickFn() {},
    graphClickFn(item) {
      this.currentProduct = item;
    },
    graphSubClickFn(item) {
      this.onEventWithLabel(`个股产业链图谱详情页-产业链图谱`);
      const url = `/related?productCode=${item.productCode}&productName=${encodeURIComponent(
        item.productName
      )}`;
      this.redirectNative(url);
    },
    async fetchSubData(productCode) {
      if (this.chainList[productCode]) return this.chainList[productCode];

      const userId = this.$store.state.user.user.userId;
      await this.$store.dispatch("product/getUpAndDownChain", {
        userId,
        productCode: productCode
      });
      return new Promise(resolve => {
        setTimeout(() => resolve(this.chainList[productCode]), 500);
      });
    },
    redirectMarket(item) {
      this.onEventWithLabel(`个股产业链图谱详情页-股票行情`);
      const market = getMarket(item.securityCode);
      const bridge = getBridge();
      if (bridge) {
        bridge.gotoStockInfo(item.securityCode, item.securitName, market);
      }
    },
    explain() {
      this.onEventWithLabel(`个股产业链图谱详情页-产业链图谱-数据说明`);
      this.switchQuestionHandle();
    },
    switchQuestionHandle() {
      this.showQuestion = !this.showQuestion;
    }
  }
};
</script>
<style lang="scss" scoped>
#detail-page {
  .detail-header {
    background-color: #fff;
    padding: trans2REM(26) trans2REM(30) trans2REM(30) trans2REM(30);
    .name {
      float: left;
      font-size: trans2REM(36);
      color: #212634;
    }
    .num {
      font-size: trans2REM(22);
      color: #939aaa;
      font-weight: normal;
    }
    .gains,
    .price {
      text-align: right;
      line-height: trans2REM(80);
      font-size: trans2REM(38);
      &.positive {
        color: #ff3a3b;
      }
      &.negative {
        color: #31c1a5;
      }
    }
  }
  .business,
  .production,
  .industry-map {
    margin-top: trans2REM(20);
    padding: trans2REM(30);
    font-size: trans2REM(34);
    background-color: #fff;
    .map-graph-box,
    .arc-box {
      margin-top: trans2REM(10);
    }
  }
  .business {
    .title {
      color: #212634;
    }
    .introduce {
      margin-top: trans2REM(20);
      color: #677288;
      font-size: trans2REM(26);
      &.test-color {
        color: #fff;
      }
    }
    .more-business {
      text-align: right;
      color: #2f569e;
      font-size: trans2REM(24);
      i {
        margin-left: trans2REM(10);
        position: relative;
        top: trans2REM(5);
      }
    }
  }

  .industry-map,
  .production,
  .business {
    .no-result {
      color: #939aaa;
      background-color: #f5f7fb;
    }
  }

  .industry-map {
    .title {
      line-height: trans2REM(48);
      span {
        float: right;
        font-size: trans2REM(28);
        color: #939aaa;
      }
    }
    .more {
      color: #2f569e;
      font-size: trans2REM(28);
      padding-left: trans2REM(30);
      padding-right: trans2REM(10);
      line-height: trans2REM(74);
      height: trans2REM(74);
      background-color: #eaeffa;
      a {
        font-size: trans2REM(26);
        color: #939aaa;
        float: right;
        .van-icon-arrow {
          top: trans2REM(4);
        }
      }
    }
    .no-result {
      text-align: center;
      padding-bottom: trans2REM(122);
      img {
        margin-top: trans2REM(122);
        width: trans2REM(290);
      }
      p {
        margin-top: trans2REM(30);
        font-size: trans2REM(30);
        color: #939aaa;
      }
    }
  }
  .production,
  .business {
    .no-result {
      text-align: center;
      line-height: trans2REM(300);
      text-align: center;
      font-size: trans2REM(30);
    }
  }
}
.dark {
  #detail-page {
    .detail-header {
      background-color: #161922;
      .name {
        color: #d6d8e2;
        .num {
          color: #616680;
        }
      }
      .positive {
        color: #ff3a3b;
      }
      .negative {
      }
    }
    .business,
    .production,
    .industry-map {
      background-color: #161922;
      .title {
        color: #d6d8e2;
        span {
          color: #616680;
        }
      }
      .introduce {
        color: #989db5;
        &.test-color {
          color: #161922;
        }
      }
      .more-business {
        color: #589dfc;
      }
      .map-graph {
        background-color: #1c212d;
      }
      .more {
        color: #589dfc;
        background-color: #262e41;
        a {
          color: #616680;
        }
      }
      .no-result {
        background-color: #1c212d;
        p {
          color: #616680;
        }
      }
    }
  }
}
</style>
