<template>
  <div id="helper-page" style="min-height: 100%;">
    <div class="container">
      <img src="@/assets/image/helper/1.png" />
      <img src="@/assets/image/helper/2.png" />
      <img src="@/assets/image/helper/3.png" />
      <img src="@/assets/image/helper/4.png" />
      <img src="@/assets/image/helper/5.png" />
      <img src="@/assets/image/helper/6.png" />
      <img src="@/assets/image/helper/7.png" />
      <img src="@/assets/image/helper/8.png" />
      <img src="@/assets/image/helper/9.png" />
      <img src="@/assets/image/helper/10.png" />
    </div>
    <Statement />
  </div>
</template>

<script>
import Statement from "@/components/Statement.vue";
import { isThemeDark, isIOS } from "@/utils";
export default {
  name: "Helper",
  components: { Statement },
  created() {
    let bgColor;
    if (isThemeDark()) {
      bgColor = isIOS() ? "161922" : "272736";
    } else {
      bgColor = "2F569E"; //isIOS() ? "ffffff" : "2F569E";
    }
    Com.setWebviewTitle("", { title: "产业链图谱", bgColor }, true);
  }
};
</script>

<style lang="scss">
#helper-page {
  background-color: #fff;
  .container {
    padding: 0 trans2REM(40);
    img {
      max-width: 100%;
    }
  }
  .statement-component {
    padding: trans2REM(80) trans2REM(40) trans2REM(40) trans2REM(40);
  }
}
</style>
