<template>
  <div id="home-page" style="min-height: 100%;">
    <div class="header">
      <h1>产业链图谱</h1>
      <h3>挖掘产业关系 寻找投资机会</h3>
      <button @click="lookChain()">一图看懂产业链<van-icon name="arrow" /></button>
      <!-- <van-search @focus="searchFocus" placeholder="产业名称/股票名称或代码" /> -->
      <div class="van-search">
        <div class="van-search__content van-search__content--square">
          <div class="van-cell van-cell--borderless van-field">
            <div class="van-field__left-icon">
              <img v-if="isThemeDark" src="@/assets/image/search_black@3x.png" /><img
                v-else
                src="@/assets/image/search@3x.png"
              />
            </div>
            <div class="van-cell__value van-cell__value--alone van-field__value">
              <div class="van-field__body">
                <input
                  @focus="searchFocus"
                  type="search"
                  placeholder="产业名称/股票名称或代码"
                  class="van-field__control"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="hot-body">
        <div class="title">
          <div class="left">
            <img class="img-icon hot" src="@/assets/image/hot@3x.png" />热门产业<img
              class="img-icon question"
              @click="switchQuestionHandle"
              src="@/assets/image/question@3x.png"
            />
          </div>
          <div class="right" @click="clickRoundRobinHandle">
            换一批<img class="img-icon refresh" src="@/assets/image/refresh@3x.png" />
          </div>
        </div>
        <div class="content">
          <div v-show="loadHotData || (hotList && hotList.length === 0)" class="loading">
            数据统计中…
          </div>
          <div v-if="!loadHotData && hotList && hotList.length > 0">
            <div
              class="main"
              v-bind:style="{ width: hotMainWdith + 'px', 'margin-right': hotItemMargin + 'px' }"
            >
              <div
                class="hot"
                v-if="hotList[0]"
                @click="clickToRelated(hotList[0], 0)"
                v-bind:style="{ height: hotMainHeight + 'px' }"
              >
                {{ hotList[0].name }}<img src="@/assets/image/fire@3x.png" />
              </div>
              <div
                class="one"
                v-if="hotList[1]"
                @click="clickToRelated(hotList[1], 1)"
                v-bind:style="{
                  'margin-top': hotItemMargin + 'px',
                  height: hotMainSubHeight + 'px'
                }"
              >
                {{ hotList[1].name }}
              </div>
            </div>
            <div
              class="sub"
              v-bind:style="{ width: hotSubWidth + 'px', 'margin-right': hotItemMargin + 'px' }"
            >
              <div
                class="one"
                v-if="hotList[2]"
                @click="clickToRelated(hotList[2], 2)"
                v-bind:style="{ height: hotSubHeight + 'px' }"
              >
                {{ hotList[2].name }}
              </div>
              <div
                class="two"
                v-if="hotList[3]"
                @click="clickToRelated(hotList[3], 3)"
                v-bind:style="{ 'margin-top': hotItemMargin + 'px', height: hotSubHeight + 'px' }"
              >
                {{ hotList[3].name }}
              </div>
              <div
                class="three"
                v-if="hotList[4]"
                @click="clickToRelated(hotList[4], 4)"
                v-bind:style="{ 'margin-top': hotItemMargin + 'px', height: hotSubHeight + 'px' }"
              >
                {{ hotList[4].name }}
              </div>
            </div>
            <div class="sub" v-bind:style="{ width: hotSubWidth + 'px' }">
              <div
                class="one"
                v-if="hotList[5]"
                @click="clickToRelated(hotList[5], 5)"
                v-bind:style="{ height: hotSubHeight + 'px' }"
              >
                {{ hotList[5].name }}
              </div>
              <div
                class="two"
                v-if="hotList[6]"
                @click="clickToRelated(hotList[6], 6)"
                v-bind:style="{ 'margin-top': hotItemMargin + 'px', height: hotSubHeight + 'px' }"
              >
                {{ hotList[6].name }}
              </div>
              <div
                class="three"
                v-if="hotList[7]"
                @click="clickToRelated(hotList[7], 7)"
                v-bind:style="{ 'margin-top': hotItemMargin + 'px', height: hotSubHeight + 'px' }"
              >
                {{ hotList[7].name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="selection-body">
        <div class="title">
          <div class="left">试试我的自选股</div>
          <div
            v-show="userStockFilter && userStockFilter.length > 0"
            class="right"
            @click="redirectOwn()"
          >
            查看全部
          </div>
        </div>
        <div class="row" v-for="stocks in userStockFilter">
          <div v-for="item in stocks" :key="item.securityCode" @click="redirectDetail(item)">
            {{ item.securityName }}
          </div>
        </div>
        <div class="row no-result" v-show="userStockFilter && userStockFilter.length === 0">
          暂无匹配的自选股
        </div>
      </div>
    </div>
    <div class="message-body">
      <div class="msg">我对产业链图谱功能有话说</div>
      <div class="button" @click="redirectMessage()">
        <img v-if="isThemeDark" src="@/assets/image/msg_dack@3x.png" /><img
          v-else
          src="@/assets/image/msg@3x.png"
        />去留言
      </div>
    </div>
    <Statement />
    <ShowQuestion :showQuestion="showQuestion" :close="switchQuestionHandle" />
    <!-- <div class="popup" v-show="showQuestion">
      <div class="popup-overlay"></div>
      <div class="popup-content">
        <h3>产业链图谱数据说明</h3>
        <div class="content">
          <div>热门产业</div>
          <p>通过大数据统计计算出市场产业的热度，数据按产业热度先后次序展示，数据定时更新。</p>
          <div>试试我的自选股</div>
          <p>您金太阳APP自选股列表的A股，数据定时更新。</p>
        </div>
        <div class="statement">
          免责声明：数据内容采购于外部资讯商，数据仅供参考，不构成投资建议，请用户自主决策并自行承担投资风险。
        </div>
        <van-icon name="close" @click="switchQuestionHandle" />
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { getMarket, getBridge, isThemeDark } from "@/utils";
import Statement from "@/components/Statement.vue";
import ShowQuestion from "@/components/ShowQuestion.vue";
import { computeVal } from "@/components/utils";

const SIZE = 8;
const PAGE_SIZE = 8;

export default {
  name: "Home",
  components: { Statement, ShowQuestion },
  data() {
    return {
      showQuestion: false,
      rrIndex: 0,
      loadHotData: true,
      userStockFilter: null,

      hotMainWdith: 0,
      hotMainHeight: 0,
      hotSubWidth: 0,
      hotSubHeight: 0,
      hotMainSubHeight: 0,
      isThemeDark: isThemeDark()
    };
  },
  watch: {
    userStock: function(val) {
      let r;
      let p = 0;
      this.userStockFilter = [];
      while ((r = this.userStock.slice(p, p + 3)).length > 0 && p < 6) {
        p += 3;
        this.userStockFilter.push(r);
      }
    }
  },
  computed: {
    ...mapGetters("product", {
      hotList: "hot"
    }),
    ...mapState("user", {
      userStock: "userStock"
    })
  },
  mounted() {
    this.getHot();
    this.getUserStock();
    localStorage.removeItem("company");
    this.onEventWithLabel("首页打开次数");

    const hotWidth = document.getElementsByClassName("hot-body")[0].getBoundingClientRect().width;
    this.computeVal = val => computeVal(val, hotWidth, 690);
    this.hotMainWdith = this.computeVal(690 - 6 * 2 - 200 * 2);
    this.hotSubWidth = this.computeVal(200);
    this.hotItemMargin = this.computeVal(6);
    this.hotMainHeight = this.computeVal(108 * 2 + 6);
    this.hotSubHeight = this.computeVal(108);

    const hotMainTotalHeight = this.hotMainHeight + this.hotSubHeight + this.hotItemMargin;
    const hotSubTotalHeight = this.hotSubHeight * 3 + this.hotItemMargin * 2;
    this.hotMainSubHeight = this.hotSubHeight - (hotMainTotalHeight - hotSubTotalHeight);
  },
  created() {
    Com.setWebviewTitle("", { title: "    ", bgColor: "2f569e" }, true);

    // this.getHot();
    // this.getUserStock();
    // localStorage.removeItem("company");
    // this.onEventWithLabel("首页打开次数");
    // const hotWidth = document.getElementsByClassName("hot-body")[0].getBoundingClientRect().width;
    // this.computeVal = val => computeVal(val, hotWidth, 690);
    // this.hotMainWdith = this.computeVal(690 - 6 * 2 - 200 * 2);
    // this.hotSubWidth = this.computeVal(200);
    // this.hotItemMargin = this.computeVal(6);
    // this.hotMainHeight = this.computeVal(108 * 2 + 6);
    // this.hotSubHeight = this.computeVal(108);
  },
  beforeDestroy() {
    this.$store.commit("user/clearUserStock");
  },
  methods: {
    getUserStock() {
      const userId = this.$store.state.user.user.userId;
      this.$store.dispatch("user/getUserStock", { userId });
    },
    async getHot() {
      const userId = this.$store.state.user.user.userId;
      this.loadHotData = true;
      await this.$store.dispatch("product/getHotList", { userId, size: 8, index: this.rrIndex });
      this.loadHotData = false;
    },
    clickRoundRobinHandle() {
      this.rrIndex += 1;
      if (this.rrIndex > SIZE || this.hotList.length !== PAGE_SIZE) {
        this.rrIndex = 0;
      }
      this.getHot();
    },
    clickToRelated(item, index) {
      this.onEventWithLabel(`首页-热门产业${index + 1}`);
      const url = `/related?productCode=${item.productCode}&productName=${encodeURIComponent(
        item.productName
      )}`;
      this.redirectNative(url);
    },
    switchQuestionHandle() {
      this.showQuestion = !this.showQuestion;
    },
    searchFocus(el) {
      el.target.blur();
      this.onEventWithLabel("首页-搜索");
      const url = `/search`;
      this.redirectNative(url);
    },
    redirectOwn() {
      // this.$router.push("/own");
      this.onEventWithLabel(`首页-我的自选股-查看全部`);
      const url = `/own`;
      this.redirectNative(url);
    },
    redirectDetail(item) {
      this.onEventWithLabel(`首页-我的自选股`);
      const market = getMarket(item.securityCode);
      const url = `/detail?market=${market}&code=${item.securityCode}`;
      // this.$router.push(`/detail?market=${market}&code=${item.securityCode}`);
      this.redirectNative(url);
    },
    redirectMessage(item) {
      this.onEventWithLabel(`首页-去留言`);
      const b = getBridge();
      if (b) {
        b.openNativePage("djs_sy");
      }
    },
    lookChain() {
      this.onEventWithLabel("首页-一图看懂产业链图谱");
      this.redirectNative(`/helper`);
    }
  }
};
</script>
<style lang="scss">
#home-page {
  .header {
    padding-top: trans2REM(20);
    text-align: center;
    height: trans2REM(295);
    background-color: #2f569e;
    h1,
    h3 {
      color: #fff;
    }
    h1 {
      font-size: trans2REM(48);
    }
    h3 {
      margin-top: trans2REM(8);
      font-size: trans2REM(28);
      font-weight: normal;
    }
    button {
      color: #abbbdb;
      margin-top: trans2REM(40);
      padding: trans2REM(5) trans2REM(28);
      border: 1px solid #abbbdb;
      border-radius: trans2REM(30);
      background-color: #2f569e;
      font-size: trans2REM(22);
      i {
        top: trans2REM(3);
      }
    }
    .van-search {
      position: relative;
      margin: trans2REM(50) trans2REM(30) 0 trans2REM(30);
      height: trans2REM(100);
      box-shadow: 0 2px 16px -7px;
      border-radius: trans2REM(50);
      .van-field__left-icon {
        margin-right: trans2REM(26);
        img {
          max-width: trans2REM(41);
        }
      }
      .van-search__content {
        background-color: #fff;
        margin: 0 trans2REM(28);
        .van-cell {
          padding: 0;
          font-size: trans2REM(32);
        }
        .van-icon-search,
        input {
          padding: 0;
          font-size: trans2REM(32);
          height: trans2REM(45);
          line-height: trans2REM(45);
          &::-webkit-input-placeholder {
            color: #677288;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: #677288;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #677288;
          }
          &:-ms-input-placeholder {
            color: #677288;
          }
        }
        .van-icon-search {
          margin-right: trans2REM(15);
          // color: #939aaa;
          color: #677288;
        }
      }
    }
  }
  .body {
    background-color: #ffffff;
    padding: trans2REM(100) trans2REM(30) trans2REM(50) trans2REM(30);
    .hot-body,
    .selection-body {
      .title {
        height: trans2REM(60);
        line-height: trans2REM(50);
        .left,
        .right {
          display: inline-block;
          width: 45%;
        }
        .left {
          font-size: trans2REM(34);
          color: #212634;
        }
        .right {
          margin-top: trans2REM(5);
          font-size: trans2REM(28);
          float: right;
          color: #939aaa;
          text-align: right;
        }
      }
    }
    .hot-body {
      .title {
        .left {
          img {
            position: relative;
          }
          img.hot {
            top: trans2REM(2);
            margin-right: trans2REM(10);
            width: trans2REM(53);
          }
          img.question {
            top: trans2REM(5);
            margin-left: trans2REM(10);
            width: trans2REM(38);
          }
        }
        .right {
          img.refresh {
            float: right;
            margin-left: trans2REM(10);
            width: trans2REM(50);
          }
        }
      }
      .content {
        margin-top: trans2REM(8);
        height: trans2REM(336);
        .loading {
          text-align: center;
          font-size: trans2REM(34);
          line-height: trans2REM(336);
          color: #616680;
          clear: both;
          width: 100%;
          height: 100%;
          background-color: #f4f5f6;
        }
        .main,
        .sub {
          text-align: center;
          display: inline-block;
          margin-right: 2%;
          font-size: trans2REM(30);
          vertical-align: top;
          div {
            // 108 * 3 + 14 * 2
            margin-top: trans2REM(14);
            height: trans2REM(108);
            line-height: trans2REM(108);
          }
          div:first-child {
            margin-top: trans2REM(0);
          }
        }
        .sub:last-child {
          margin-right: 0;
        }
        .main {
          // width: 38%;
          .hot {
            position: relative;
            height: trans2REM(228);
            line-height: trans2REM(228);
            font-size: trans2REM(38);
            color: #ff3a3b;
            background-color: #fff5f5;
            img {
              position: absolute;
              bottom: trans2REM(9);
              right: trans2REM(5);
              width: trans2REM(59);
            }
          }
          .one {
            background-color: #fff5ef;
            color: #f6a655;
          }
        }
        .sub {
          // width: 29%;
          .one {
            background-color: #f2eeff;
            color: #7362b1;
          }
          .two {
            background-color: #fff5ef;
            color: #f6a655;
          }
          .three {
            background-color: #e4f0ff;
            color: #2f569e;
          }
        }
      }
    }
    .selection-body {
      margin-top: trans2REM(50);
      .row {
        margin: trans2REM(15) 0;
        height: trans2REM(70);
        div {
          vertical-align: top;
          font-size: trans2REM(30);
          color: #212634;
          text-align: center;
          display: inline-block;
          width: 32%;
          margin-right: 2%;
          background-color: #f4f5f6;
          line-height: trans2REM(70);
          border-radius: trans2REM(8);
        }
        div:last-child {
          margin-right: 0;
        }
      }
      .row:last-child {
        margin-top: trans2REM(20);
      }
      .no-result {
        line-height: trans2REM(70);
        text-align: center;
        color: #939aaa;
        font-size: trans2REM(28);
      }
    }
  }
  .message-body {
    background-color: #fff;
    text-align: center;
    margin: trans2REM(20) 0 trans2REM(15) 0;
    padding: trans2REM(50) 0 trans2REM(47) 0;
    .msg {
      font-size: trans2REM(32);
    }
    .button {
      font-size: trans2REM(26);
      padding: 0 trans2REM(30);
      text-align: right;
      display: inline-block;
      margin-top: trans2REM(31);
      line-height: trans2REM(54);
      width: trans2REM(136);
      color: #2f569e;
      border-radius: trans2REM(100);
      border: trans2REM(2) solid #2f569e;
      position: relative;
      img {
        position: absolute;
        left: trans2REM(30);
        top: trans2REM(8);
        width: trans2REM(40);
      }
    }
  }
}
.dark {
  #home-page {
    .body {
      .hot-body {
        .content {
          .loading {
            background-color: #0d1015;
          }
        }
      }
    }
  }
}
</style>
