<template>
  <div id="own-page" style="min-height: 100%;">
    <ul>
      <li @click="redirectDetail(item)" v-for="item in userStock" :key="item.securityCode">
        <span class="name">{{ item.securityName }} </span
        ><span class="num">{{ item.securityCode }}.{{ getMarketTag(item.securityCode) }}</span
        ><van-icon name="arrow" />
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { getMarket, isThemeDark, isIOS } from "@/utils";

export default {
  computed: {
    ...mapState("user", {
      userStock: "userStock"
    })
  },
  mounted() {
    this.isThemeDark = isThemeDark();
    let bgColor;
    if (this.isThemeDark) {
      bgColor = isIOS() ? "161922" : "272736";
    } else {
      bgColor = "2F569E"; //isIOS() ? "ffffff" : "2F569E";
    }
    Com.setWebviewTitle("", { title: "我的自选股", bgColor }, true);

    this.load();
  },
  beforeDestroy() {
    this.$store.commit("user/clearUserStock");
  },
  methods: {
    load() {
      const userId = this.$store.state.user.user.userId;
      this.$store.dispatch("user/getUserStock", { userId });
    },
    getMarketTag(code) {
      // code: "601318"
      // 1是深圳 2是上海
      // code 股票代码，market 市场标志(SZ-深圳(股票代码非6开头)，
      // SH-上海(股票代码6开头))
      if (code[0] === "6") {
        return "SH";
      }
      return "SZ";
    },
    redirectDetail(item) {
      const market = getMarket(item.securityCode);
      // this.$router.push(`/detail?market=${market}&code=${item.securityCode}`);
      const url = `/detail?market=${market}&code=${item.securityCode}`;
      this.redirectNative(url);
    }
  }
};
</script>

<style lang="scss">
#own-page {
  background-color: #fff;
  ul {
    padding: 0 trans2REM(30);
    li {
      position: relative;
      line-height: trans2REM(100);
      border-bottom: trans2REM(2) solid #dfe1e6;
      color: #939aaa;
      span {
        vertical-align: middle;
        &.name {
          width: trans2REM(165);
          display: inline-block;
          font-size: trans2REM(32);
          color: #212634;
        }
        &.num {
          vertical-align: middle;
          font-size: trans2REM(28);
        }
      }
      .van-icon {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: trans2REM(34);
        transform: translate(0, -50%);
      }
    }
  }
}
.dark {
  #own-page {
    background-color: #161922;
    ul {
      li {
        border-bottom: trans2REM(2) solid #0f1116;
        color: #616680;
        span {
          &.name {
            color: #d6d8e2;
          }
        }
      }
    }
  }
}
</style>
