<template>
  <div id="related-page" style="min-height: 100%;">
    <div class="related-company">
      <div class="title">产业相关公司</div>
      <van-list>
        <van-row class="list-header">
          <van-col span="8">名称</van-col>
          <van-col span="5">最新</van-col>
          <van-col span="5">涨幅</van-col>
          <van-col span="3">行情</van-col>
          <van-col span="3">产业链</van-col>
        </van-row>
        <van-row class="list-item" v-for="item in relatedFilter" :key="item.securityCode">
          <van-col class="name" span="8">
            <div>{{ item.securitName }}</div>
            <div class="num">{{ item.securityCodeM }}</div>
          </van-col>
          <van-col class="price" span="5" :class="renderRiseOrFallClass(item.increase)">
            {{ item.price }}
          </van-col>
          <van-col class="gains" span="5" :class="renderRiseOrFallClass(item.increase)">
            {{ item.increase > 0 ? `+` + item.increase : item.increase }}%
          </van-col>
          <van-col class="market" span="3" @click="redirectMarket(item)">
            <img v-if="isThemeDark" class="btn" src="@/assets/image/black_market@3x.png" />
            <img v-else class="btn" src="@/assets/image/market@3x.png" />
          </van-col>
          <van-col class="industry" span="3" @click="redirectDetail(item)">
            <img v-if="isThemeDark" class="btn" src="@/assets/image/black_industry@3x.png" />
            <img v-else class="btn" src="@/assets/image/industry@3x.png" />
          </van-col>
        </van-row>
        <van-row class="more-list" v-if="hasMoreBusiness">
          <span @click="switchBusiness" v-if="hadCLosed">展开<van-icon name="arrow-down"/></span>
          <span @click="switchBusiness" v-else>收起<van-icon name="arrow-up"/></span>
        </van-row>
        <van-row class="list-item no-result" v-show="related && related.length === 0">
          暂无数据
        </van-row>
      </van-list>
    </div>
    <div class="industry-map">
      <div class="title">
        产业链图谱
        <span @click="explain()">数据说明</span>
      </div>
      <div class="map-graph-box" v-if="chain">
        <!--  -->
        <div class="up">
          <span @click="redirectRelated(item)" v-for="item in chain.up" :key="item.productCode">{{
            item.productName
          }}</span>
        </div>
        <FixedMapGraph :title="productName" />
        <div class="down">
          <span @click="redirectRelated(item)" v-for="item in chain.down" :key="item.productCode">{{
            item.productName
          }}</span>
        </div>
      </div>
      <div @click="backDetail()" class="back">
        返回产业链图谱主页
      </div>
    </div>
    <!-- <div class="related-news">
      <div class="title">相关资讯</div>
      <van-row class="list-item" v-for="index in [1, 2, 3]" :key="index">
        <div class="info">
          新能源汽车月销量大幅回暖，分析师称市场期重新向好，哪些公司有望跟产业一起发展更
        </div>
        <div class="date">2020-01-07</div>
      </van-row>
    </div> -->
    <Statement />
    <DataExplain :showQuestion="showQuestion" :close="switchQuestionHandle" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import Statement from "@/components/Statement.vue";
import FixedMapGraph from "@/components/FixedMapGraph.vue";
import DataExplain from "@/components/DataExplain.vue";
import { getMarket, getBridge, isThemeDark, isIOS } from "@/utils";

export default {
  name: "Related",
  components: { Statement, FixedMapGraph, DataExplain },
  data() {
    return {
      showQuestion: false,
      loading: false,
      productCode: null,
      chain: null,
      productName: null,
      isThemeDark: null,
      // curCompany: null,
      hasMoreBusiness: false,
      hadCLosed: true,
      relatedFilter: null
    };
  },
  watch: {
    related: function(val) {
      if (val === null) return null;
      if (val.length > 5) {
        this.hasMoreBusiness = true;
      }
      this.relatedFilter = this.related.slice(0, 5);
    }
  },
  computed: {
    ...mapState("company", {
      related: "related"
    }),
    ...mapState("product", {
      chainList: "chainList"
    })
  },
  created() {
    setTimeout(() => {
      this.isThemeDark = isThemeDark();
      this.load();
    });
  },
  beforeDestroy() {
    this.$store.commit("product/clearChainList");
    this.$store.commit("company/clearRelated");
  },
  methods: {
    load() {
      this.hasMoreBusiness = false;
      this.productName = decodeURIComponent(this.$route.query.productName);
      let bgColor;
      if (this.isThemeDark) {
        bgColor = isIOS() ? "161922" : "272736";
      } else {
        bgColor = "2F569E"; //isIOS() ? "ffffff" : "2F569E";
      }
      if (this.$route.query.productName) {
        Com.setWebviewTitle("", { title: `${this.productName} - 产业链图谱`, bgColor }, true);
      } else {
        // Com.setWebviewTitle("", { title: `产业链图谱`, bgColor }, true);
      }

      this.onEventWithLabel(`产业链图谱详情页`);
      this.productCode = this.$route.query.productCode;
      // this.productName = decodeURIComponent(this.$route.query.productName);
      const productCode = this.productCode;
      const userId = this.$store.state.user.user.userId;
      const p1 = this.$store.dispatch("company/getRelated", { userId, productCode });
      const p2 = this.$store
        .dispatch("product/getUpAndDownChain", {
          userId,
          productCode: productCode
        })
        .then(() => {
          this.fetchChain();
        });

      Promise.all([p1, p2]).then(() => {});

      // try {
      //   const str = localStorage.getItem("company");
      //   this.curCompany = JSON.parse(str);
      // } catch (e) {}
    },
    fetchChain() {
      const t = setInterval(() => {
        this.chain = this.chainList[this.productCode];
        if (this.chain) {
          clearInterval(t);
        }
      }, 100);
    },
    switchBusiness() {
      if (this.hadCLosed) {
        this.relatedFilter = this.related;
      } else {
        this.relatedFilter = this.related.slice(0, 5);
      }
      this.hadCLosed = !this.hadCLosed;
    },
    renderRiseOrFallClass(gains) {
      if (gains < 0) {
        return "negative";
      } else {
        return "positive";
      }
    },
    redirectDetail(item) {
      this.onEventWithLabel(`产业链图谱详情页-产业相关公司-产业链`);
      const market = getMarket(item.securityCode);
      // this.$router.push(`/detail?market=${market}&code=${item.securityCode}`);
      const url = `/detail?market=${market}&code=${item.securityCode}`;
      this.redirectNative(url);
    },
    redirectMarket(item) {
      // 产业链图谱详情页-产业相关公司-行情
      this.onEventWithLabel(`产业链图谱详情页-产业相关公司-行情`);
      const market = getMarket(item.securityCode);
      const bridge = getBridge();
      if (bridge) {
        bridge.gotoStockInfo(item.securityCode, item.securitName, market);
      }
    },
    redirectRelated(item) {
      // this.$router.push(
      //   `/related?productCode=${item.productCode}&productName=${encodeURIComponent(
      //     item.productName
      //   )}`
      // );
      this.onEventWithLabel(`产业链图谱详情页-上下游`);
      const url = `/related?productCode=${item.productCode}&productName=${encodeURIComponent(
        item.productName
      )}`;
      this.redirectNative(url);
      this.load();
    },
    explain() {
      this.onEventWithLabel(`个股产业链图谱详情页-产业链图谱-数据说明`);
      this.switchQuestionHandle();
    },
    switchQuestionHandle() {
      this.showQuestion = !this.showQuestion;
    },
    backDetail(item) {
      const url = `/`;
      this.redirectNative(url);
    }
    // onLoad() {}
  }
};
</script>
<style lang="scss" scoped>
#related-page {
  .related-company {
    background-color: #fff;
    .title {
      padding: trans2REM(18) 0 trans2REM(18) trans2REM(30);
      font-size: trans2REM(34);
      color: #212634;
    }
    .list-header {
      padding: 0 trans2REM(30);
      height: trans2REM(54);
      line-height: trans2REM(54);
      color: #677288;
      font-size: trans2REM(28);
      background-color: #f4f5f6;
    }

    .list-item {
      padding: trans2REM(20) 0;
      margin: 0 trans2REM(30);
      border-bottom: 1px solid #dfe1e6;
      .van-col {
        height: trans2REM(78);
      }
      .name {
        font-size: trans2REM(34);
        color: #212634;
      }
      .num {
        font-weight: normal;
        font-size: trans2REM(22);
        color: #939aaa;
      }
      .price,
      .gains {
        line-height: trans2REM(78);
        font-size: trans2REM(32);
        &.positive {
          color: #ff3a3b;
        }
        &.negative {
          color: #31c1a5;
        }
      }
      .market,
      .industry {
        .btn {
          line-height: trans2REM(78);
          width: trans2REM(60);
          height: trans2REM(60);
        }
      }
    }

    .no-result {
      text-align: center;
      color: #939aaa;
      font-size: trans2REM(28);
      // background-color: #f5f7fb;
    }
    .more-list {
      margin: 0 trans2REM(30);
      line-height: trans2REM(60);
      text-align: right;
      color: #2f569e;
      font-size: trans2REM(24);
      i {
        margin-left: trans2REM(10);
        position: relative;
        top: trans2REM(5);
      }
    }
  }

  .industry-map {
    margin-top: trans2REM(20);
    padding: trans2REM(30);
    font-size: trans2REM(34);
    background-color: #fff;
    .title {
      line-height: trans2REM(48);
      span {
        float: right;
        font-size: trans2REM(24);
        color: #939aaa;
      }
    }
    .map-graph-box {
      padding: trans2REM(50) 0;
      margin-top: trans2REM(10);
      background-color: rgb(242, 245, 250);
      .up,
      .down {
        font-size: trans2REM(24);
        text-align: center;
        span {
          margin: trans2REM(12);
          display: inline-block;
          word-break: break-all;
          padding: trans2REM(6) trans2REM(16);
          border: trans2REM(2) solid #5d80d9;
          border-radius: 6px;
        }
      }
    }
    .back {
      width: trans2REM(540);
      height: trans2REM(80);
      line-height: trans2REM(80);
      border: trans2REM(2) solid #2f569e;
      text-align: center;
      margin: trans2REM(20) auto 0 auto;
      border-radius: trans2REM(53);
      font-size: trans2REM(30);
      color: #2f569e;
    }
  }

  .related-news {
    margin-top: trans2REM(26);
    padding-left: trans2REM(30);
    padding-right: trans2REM(30);
    background-color: #fff;
    .title {
      padding: trans2REM(30) 0 0 0;
      font-size: trans2REM(34);
      color: #212634;
    }
    .list-item {
      border-bottom: 1px solid #dfe1e6;
      .info {
        padding-top: trans2REM(24);
        font-size: trans2REM(34);
        color: #212634;
      }
      .date {
        margin: trans2REM(10) 0 trans2REM(30) 0;
        font-size: trans2REM(24);
        color: #939aaa;
      }
    }
  }
}
.dark {
  #related-page {
    .related-company {
      background-color: #161922;
      .title {
        color: #d6d8e2;
      }
      .list-header {
        color: #989db5;
        background-color: #0d1015;
      }

      .list-item {
        border-bottom: 1px solid #0f1116;
        .name {
          color: #d6d8e2;
        }
        .num {
          color: #616680;
        }
        .price,
        .gains {
          &.positive {
            color: #ff3a3b;
          }
          &.negative {
            color: #31c1a5;
          }
        }
      }

      .no-result {
        color: #939aaa; // TODO
      }
      .more-list {
        color: #589dfc;
      }
    }

    .industry-map {
      background-color: #161922;
      .title {
        color: #d6d8e2;
        span {
          color: #616680;
        }
      }
      .map-graph-box {
        background-color: #1c212d;
        .up,
        .down {
          span {
            color: #d6d8e2;
            border: trans2REM(2) solid #5d80d9; // TODO
          }
        }
      }
      .back {
        background-color: #589dfc;
      }
    }

    // .related-news {
    //   background-color: #fff;
    //   .title {
    //     color: #212634;
    //   }
    //   .list-item {
    //     border-bottom: 1px solid #dfe1e6;
    //     .info {
    //       color: #212634;
    //     }
    //     .date {
    //       color: #939aaa;
    //     }
    //   }
    // }
  }
}
</style>
