<template>
  <div id="search-page" style="min-height: 100%;">
    <div class="search-box">
      <div class="search-icon">
        <!-- <van-icon name="search" /> -->
        <img v-if="isThemeDark" src="@/assets/image/search_black@3x.png" /><img
          v-else
          src="@/assets/image/search@3x.png"
        />
      </div>
      <div class="search-input">
        <input v-model="searchValue" placeholder="产业名称/股票名称或代码" />
      </div>
    </div>
    <div class="content-container">
      <div class="title">
        <h5 v-show="showHistory">搜索历史 <van-icon @click="clickCleanHistory" name="delete" /></h5>
        <h5 v-show="!showHistory">产业/股票</h5>
      </div>
      <div v-show="showHistory" class="history">
        <div v-for="item in history" :key="item.code" @click="clickHistory(item)">
          {{ item.name }}
        </div>
      </div>
      <ul v-show="!showHistory && hasSearchedResult" class="result">
        <li
          @click="clickResult(item)"
          v-for="item in industry"
          :key="item.productCode"
          class="industry"
        >
          <span class="tag">产业</span
          ><ImportInfo :value="item.productName" :keyword="searchValue" />
        </li>
        <li @click="clickResult(item)" v-for="item in company" :key="item.coCode" class="stock">
          <span class="tag">股票</span
          ><ImportInfo :value="item.securityName" :keyword="searchValue" />
        </li>
      </ul>
      <div v-show="!showHistory && !hasSearchedResult" class="result no-result">
        <img v-if="isThemeDark" src="@/assets/image/dark_search_anything@3x.png" />
        <img v-else src="@/assets/image/search_anything@3x.png" />
        <p>暂无匹配结果</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import ImportInfo from "@/components/ImportInfo.vue";
import { getMarket, isThemeDark, isIOS } from "@/utils";

function debounce(fn, delay) {
  let timerId;
  return function(args) {
    const that = this;
    clearTimeout(timerId);
    timerId = setTimeout(() => {
      fn.call(that, args);
    }, delay);
  };
}

export default {
  components: { ImportInfo },
  // inject: ["isThemeDark"],
  data() {
    return {
      searchValue: "",
      hasSearchedResult: true
    };
  },
  created() {
    this.isThemeDark = isThemeDark();
    if (this.isThemeDark) {
      document.getElementById("app").style.backgroundColor = "#161922";
    } else {
      document.getElementById("app").style.backgroundColor = "#fff";
    }

    let bgColor;
    if (this.isThemeDark) {
      bgColor = isIOS() ? "161922" : "272736";
    } else {
      bgColor = "2F569E"; //isIOS() ? "ffffff" : "2F569E";
    }

    Com.setWebviewTitle("", { title: "搜索 - 产业链图谱", bgColor }, true);
    this.load();
  },
  beforeDestroy() {
    document.getElementById("app").style.backgroundColor = "";
  },
  watch: {
    searchValue: function(val, oldVal) {
      this.hasSearchedResult = true;
      if (val === oldVal) return;

      this.searchFn();
    },
    isSearching: function(val) {
      if (val === false && this.company.length === 0 && this.industry.length === 0) {
        this.hasSearchedResult = false;
      } else {
        this.hasSearchedResult = true;
      }
    }
  },
  computed: {
    showHistory: function() {
      return this.searchValue.length === 0;
    },
    ...mapState("search", {
      history: "history",
      isSearching: "isSearching"
    }),
    ...mapGetters("search", {
      industry: "industry",
      company: "company"
    })
  },
  methods: {
    load() {
      const userId = this.$store.state.user.user.userId;
      this.$store.dispatch("search/getHistory", { userId });

      this.searchFn = debounce(() => {
        this.$store.commit("search/clearSearchList");
        if (this.searchValue !== "") {
          this.$store.dispatch("search/search", { userId, keyword: this.searchValue });
        }
      }, 500);
    },
    clickResult(item) {
      const userId = this.$store.state.user.user.userId;
      const opts = {
        userId
      };
      if (item.productCode) {
        opts.code = item.productCode;
        opts.name = item.productName;
        opts.type = "productChain";
      } else {
        opts.code = item.securityCode;
        opts.name = item.securityName;
        opts.type = "company";
      }
      this.$store.dispatch("search/addHistory", opts);
      let url;
      if (opts.type === "company") {
        const market = getMarket(opts.code);
        url = `/detail?market=${market}&code=${opts.code}`;
        // this.$router.push(`/detail?market=${market}&code=${opts.code}`);
      } else {
        // this.$router.push(
        //   `/related?productCode=${opts.code}&productName=${encodeURIComponent(opts.name)}`
        // );
        url = `/related?productCode=${opts.code}&productName=${encodeURIComponent(opts.name)}`;
      }
      this.redirectNative(url);
    },

    clickHistory(item) {
      let url;
      if (item.type === "productChain") {
        // this.$router.push(
        //   `/related?productCode=${item.code}&productName=${encodeURIComponent(item.name)}`
        // );
        url = `/related?productCode=${item.code}&productName=${encodeURIComponent(item.name)}`;
      } else {
        const market = getMarket(item.code);
        url = `/detail?market=${market}&code=${item.code}`;
        // this.$router.push(`/detail?market=${market}&code=${item.code}`);
      }
      this.redirectNative(url);
    },

    clickCleanHistory() {
      const userId = this.$store.state.user.user.userId;
      this.$store.commit("search/clearHistory");
      this.$store.dispatch("search/clearHistory", { userId });
    }
  }
};
</script>

<style lang="scss">
#search-page {
  background-color: #fff;
  .search-box {
    background-color: #f1f2f4;
    padding: trans2REM(20);
    &::after {
      clear: both;
      display: table;
      content: " ";
    }
    .search-icon,
    .search-input {
      background-color: #fff;
      vertical-align: middle;
      padding: trans2REM(19) 0;
      // height: trans2REM(80);
      // line-height: trans2REM(80);
      display: inline-block;
    }
    .search-icon {
      // padding: trans2REM(19) 0;
      // margin-right: trans2REM(26);
      font-size: trans2REM(45);
      height: trans2REM(42);
      width: 12%;
      img {
        max-width: trans2REM(41);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -68%);
      }
      // .van-icon {
      //   // color: #939aaa;
      //   color: #677288;
      //   position: relative;
      //   top: 65%;
      //   left: 50%;
      //   transform: translate(-50%, -68%);
      // }
    }
    .search-input {
      // padding: trans2REM(19) 0;
      // line-height: 0;
      height: trans2REM(42);
      width: 88%;
      input {
        padding: 0;
        // background-color: red;
        vertical-align: top;
        height: trans2REM(42);
        border: 0;
        width: 100%;
        font-size: trans2REM(28);
        color: #212634;
        &::-webkit-input-placeholder {
          color: #677288;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #677288;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #677288;
        }
        &:-ms-input-placeholder {
          color: #677288;
        }
      }
    }
  }
  .content-container {
    .title {
      padding: 0 trans2REM(30);
      line-height: trans2REM(90);
      h5 {
        font-weight: normal;
        font-size: trans2REM(30);
        color: #677288;
      }
      .van-icon {
        margin-top: trans2REM(30);
        font-size: trans2REM(30);
        float: right;
      }
    }
    .history {
      display: flex;
      flex-flow: row wrap;
      padding: 0 trans2REM(30);
      align-items: center;
      div {
        text-align: center;
        line-height: trans2REM(60);
        background-color: red;
        color: #212634;
        font-size: trans2REM(28);
        margin-right: 5%;
        flex: 0 0 30%;
        opacity: 0.5;
        background-color: #f4f5f6;
        border-radius: trans2REM(8);
      }
      div:nth-child(3n) {
        margin-right: 0;
      }
      div:nth-child(n + 4) {
        margin-top: trans2REM(50);
      }
    }
    .result {
      border-top: trans2REM(2) solid #dfe1e6;
      line-height: trans2REM(100);
      padding: 0 trans2REM(30);
      vertical-align: middle;
      li {
        border-bottom: trans2REM(2) solid #dfe1e6;
        font-size: trans2REM(32);
        vertical-align: middle;
        span.tag {
          vertical-align: middle;
          margin-right: trans2REM(20);
          padding: trans2REM(5) trans2REM(15);
          font-size: trans2REM(20);
          border-style: solid;
          border-width: 1px;
          border-radius: trans2REM(6);
        }
      }
      .industry {
        span.tag {
          color: #ff803b;
          border-color: #ff803b;
        }
      }
      .stock {
        span.tag {
          color: #2f569e;
          border-color: #2f569e;
        }
      }
    }
    .no-result {
      text-align: center;
      img {
        margin-top: trans2REM(220);
        width: trans2REM(290);
      }
      p {
        margin-top: trans2REM(52);
        font-size: trans2REM(30);
        color: #677288;
      }
    }
  }
}
.dark {
  #search-page {
    background-color: #161922;
    .search-box {
      background-color: #0d1015;
      .search-icon,
      .search-input {
        background-color: #161922;
      }
      .search-icon {
        .van-icon {
          color: #939aaa;
        }
      }
      .search-input {
        input {
          color: #d6d8e2;
          background-color: #161922;
        }
      }
    }
    .content-container {
      .title {
        h5 {
          color: #989db5;
        }
      }
      .history {
        div {
          color: #d6d8e2;
          background-color: #0d1015;
        }
      }
      .result {
        border-top: trans2REM(2) solid #0f1116;
        li {
          border-bottom: trans2REM(2) solid #0f1116;
        }
        .industry {
          span.tag {
            color: #ff803b;
            border-color: #ff803b;
          }
        }
        .stock {
          span.tag {
            color: #589dfc;
            border-color: #589dfc;
          }
        }
      }
      .no-result {
        p {
          color: #616680;
        }
      }
    }
  }
}
</style>
