<template>
  <div class="map-graph"></div>
</template>
<script>
import Arc from "./graph/arc";

export default {
  name: "ArcGraph",
  props: {
    arcData: Array,
    title: String,
    isThemeDark: Boolean,
    click: Function
  },
  mounted() {
    const arc = new Arc(this.$el, this.title, this.arcData, this.click, this.isThemeDark);
    arc.render();
  }
};
</script>

<style lang="scss">
.arc-graph {
  background-color: rgb(242, 245, 250);
}
</style>
