<template>
  <div class="data-explain popup" v-show="showQuestion">
    <div class="popup-overlay"></div>
    <div class="popup-content">
      <h3>数据说明</h3>
      <div class="content">
        <div>主营产品</div>
        <p>
          主营产品饼图数据来源于上市公司公告，取营收占比前3的产品名称，其余产品占比用其他产品之和代替。
        </p>
        <div>主营产品与产业链图谱对应关系</div>
        <p>
          上市公司主营产品与产业链图谱名称有对应关系，根据国家统计局发布的《国民经济行业分类》将公司主营产品与核心产品确定。
        </p>
        <p>若产业链图谱产品名称与主营产品的饼图颜色一致，说明产业链图谱产品是该主营产品的细类。</p>
        <div>产业链图谱</div>
        <p>
          公司产业链图谱名称以及上下游产业链数据均来源于上市公司公告、国家统计局以及行业协会网站等权威机构。
        </p>
        <p>
          由于某些产业的特殊性或部分公司产品本身处于最上游或最下游，可能会出现无上游或下游情况。
        </p>
      </div>
      <div class="statement">
        免责声明：数据内容采购于外部资讯商，数据仅供参考，不构成投资建议，请用户自主决策并自行承担投资风险。
      </div>
      <van-icon name="close" @click="close" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.data-explain {
  .popup-overlay {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100%;
    opacity: 0.9;
    background-color: #262840;
    width: 100%;
  }
  .popup-content {
    position: fixed;
    top: trans2REM(30);
    left: trans2REM(30);
    right: trans2REM(30);
    z-index: 1000;
    color: #fff;
    h3 {
      font-size: trans2REM(36);
      text-align: center;
    }
    .content {
      margin-top: trans2REM(32);
      padding-top: trans2REM(20);
      border-top: trans2REM(2) solid #fff;
      div {
        font-size: trans2REM(34);
        margin-top: trans2REM(30);
      }
      div:first-child {
        margin-top: 0;
      }
      p {
        font-size: trans2REM(26);
        line-height: trans2REM(42);
      }
    }
    .statement {
      margin-top: trans2REM(44);
      font-size: trans2REM(26);
    }
    .van-icon-close {
      left: 50%;
      margin-top: trans2REM(50);
      transform: translate(-50%);
      font-size: trans2REM(80);
    }
  }
}
</style>
<script>
export default {
  name: "DataExplain",
  props: {
    showQuestion: {
      type: Boolean,
      default: false
    },
    close: {
      type: Function,
      default: function() {}
    }
  }
};
</script>
