<template>
  <div class="fix-map-graph">
    <div class="up-graph"></div>
    <div class="title-info">
      <span>{{ title }}</span>
    </div>
    <div class="down-graph"></div>
  </div>
</template>
<script>
import * as d3 from "d3";
import { computeVal, trans2REM } from "./utils";

function c(start, end, offset, compute) {
  const { x: sX, y: sY } = start;
  const { x: eX, y: eY } = end;

  const mY = Math.floor(sY + compute(offset));

  let p = "";
  p += `M${sX},${sY}`;
  p += `,L${sX},${mY}`;
  p += `,L${eX},${mY}`;
  p += `,L${eX},${eY}`;

  return p;
}

function createLine(start, end, offset, compute) {
  return d3
    .create("svg:path")
    .attr("fill", "white")
    .attr("fill-opacity", "0")
    .attr("stroke", "#5D80D9")
    .attr("stroke-width", "2")
    .attr("stroke-dasharray", "2")
    .attr("d", c(start, end, offset, compute));
}

export default {
  name: "FixedMapGraph",
  props: {
    title: String
  },
  mounted() {
    const svgUp = d3
      .select(".up-graph")
      .append("svg")
      .attr("width", "100%");

    const svgDown = d3
      .select(".down-graph")
      .append("svg")
      .attr("width", "100%");

    const nUp = svgUp.node();
    const nDown = svgDown.node();

    const { width: widthUp, height: heightUp } = nUp.getBoundingClientRect();
    const { width: widthDown, height: heightDown } = nDown.getBoundingClientRect();
    console.log(widthUp);
    const compute = val => computeVal(val, widthUp, 690);
    svgUp.attr("height", compute(100));
    svgDown.attr("height", compute(100));

    const gUp = svgUp.append("g").attr("class", "g-middle");
    const gDown = svgDown.append("g").attr("class", "g-middle");

    const topCLeft = d3
      .create("svg:circle")
      .attr("cx", compute(120))
      .attr("cy", compute(10))
      .attr("r", "3")
      .attr("fill", "#5D80D9");

    const topCRight = d3
      .create("svg:circle")
      .attr("cx", compute(570))
      .attr("cy", compute(10))
      .attr("r", "3")
      .attr("fill", "#5D80D9");

    const downCLeft = d3
      .create("svg:circle")
      .attr("cx", compute(120))
      .attr("cy", compute(94))
      .attr("r", "3")
      .attr("fill", "#5D80D9");

    const downCRight = d3
      .create("svg:circle")
      .attr("cx", compute(570))
      .attr("cy", compute(94))
      .attr("r", "3")
      .attr("fill", "#5D80D9");

    gUp.insert(() => topCLeft.node());
    gUp.insert(() => topCRight.node());
    gDown.insert(() => downCLeft.node());
    gDown.insert(() => downCRight.node());

    const topCLeftNode = topCLeft.node();
    const topCRightNode = topCRight.node();
    const downCLeftNode = downCLeft.node();
    const downCRightNode = downCRight.node();

    const topCLeftNodeBox = topCLeftNode.getBBox();
    const topCRightNodeBox = topCRightNode.getBBox();
    const downCLeftNodeBox = downCLeftNode.getBBox();
    const downCRightNodeBox = downCRightNode.getBBox();
    const topLineLeft = createLine(
      {
        x: topCLeftNodeBox.x + 3,
        y: topCLeftNodeBox.y
      },
      {
        x: widthUp / 2,
        y: heightUp
      },
      35,
      compute
    );
    gUp.insert(() => topLineLeft.node());

    const topLineRight = createLine(
      {
        x: topCRightNodeBox.x + 3,
        y: topCRightNodeBox.y
      },
      {
        x: widthUp / 2,
        y: heightUp
      },
      35,
      compute
    );
    gUp.insert(() => topLineRight.node());

    const downLineLeft = createLine(
      {
        x: downCLeftNodeBox.x + 3,
        y: downCLeftNodeBox.y
      },
      {
        x: widthDown / 2,
        y: 0
      },
      -35,
      compute
    );
    gDown.insert(() => downLineLeft.node());

    const downLineRight = createLine(
      {
        x: downCRightNodeBox.x + 3,
        y: downCRightNodeBox.y
      },
      {
        x: widthDown / 2,
        y: 0
      },
      -35,
      compute
    );
    gDown.insert(() => downLineRight.node());

    // 上游
    const textUp = d3
      .create("svg:text")
      .style("font-size", trans2REM(22))
      .attr("fill", "#2F569E")
      .attr("x", compute(380))
      .attr("y", compute(80))
      .text("上游");

    // 下游
    const textDown = d3
      .create("svg:text")
      .style("font-size", trans2REM(22))
      .attr("fill", "#2F569E")
      .attr("x", compute(380))
      .attr("y", compute(30))
      .text("下游");

    gUp.insert(() => textUp.node());
    gDown.insert(() => textDown.node());
    // }, 100);
  }
};
</script>

<style lang="scss">
.fix-map-graph {
  // background-color: rgb(242, 245, 250);
  .up-graph,
  .down-graph {
    font-size: 0;
  }
  .title-info {
    text-align: center;
    span {
      display: inline-block;
      border-radius: 6px;
      margin: 0 trans2REM(20);
      color: #fff;
      padding: trans2REM(16) trans2REM(20);
      font-size: trans2REM(24);
      background-color: #5d80d9;
    }
  }
}
</style>
