<template>
  <span class="import-info">
    {{ beforVal }}<span class="keyword">{{ str }}</span
    >{{ afterVal }}
  </span>
</template>
<style lang="scss" scoped>
.import-info {
  .keyword {
    color: #2f569e;
  }
}
.dark {
  .import-info {
    color: #fff;
    .keyword {
      color: #589dfc;
    }
  }
}
</style>

<script>
export default {
  name: "ImportInfo",
  props: {
    value: String,
    keyword: String
  },
  data() {
    return {
      str: null,
      index: null
    };
  },
  created() {
    this.render();
  },
  updated() {
    this.render();
  },
  computed: {
    beforVal: function() {
      return this.value.substring(0, this.index);
    },
    afterVal: function() {
      if (this.index === -1) return "";
      return this.value.substring(this.index + this.keyword.length);
    }
  },
  methods: {
    render() {
      const numKeyword = +this.keyword;
      if (Number.isNaN(numKeyword)) {
        this.index = this.value.toLocaleLowerCase().indexOf(this.keyword.toLocaleLowerCase());
        this.str = this.value.substr(this.index, this.keyword.length); //this.keyword;
      } else {
        this.index = -1;
        this.str = this.value;
      }
    }
  }
};
</script>
