<template>
  <div class="map-graph"></div>
</template>
<script>
import Graph from "./graph";

let graph;

export default {
  name: "MapGraph",
  props: {
    isThemeDark: Boolean,
    mainData: Array,
    fetchSubData: Function,
    mainColor: String,
    click: Function,
    subClick: Function
  },

  mounted() {
    graph = new Graph(
      this.$el,
      this.mainData,
      this.fetchSubData,
      this.click,
      this.subClick,
      this.isThemeDark
    );
    graph.draw();
  }
};
</script>

<style lang="scss">
.map-graph {
  background-color: rgb(242, 245, 250);
  .header {
    .t1,
    .t2 {
      font-size: trans2REM(24);
    }
  }
  .g-middle {
    text {
      // text-anchor: middle;
    }
  }
}
</style>
