<template>
  <div class="show-question popup" v-show="showQuestion">
    <div class="popup-overlay"></div>
    <div class="popup-content">
      <h3>产业链图谱数据说明</h3>
      <div class="content">
        <div>热门产业</div>
        <p>通过大数据统计计算出市场产业的热度，数据按产业热度先后次序展示，数据定时更新。</p>
        <div>试试我的自选股</div>
        <p>您金太阳APP自选股列表的A股，数据定时更新。</p>
      </div>
      <div class="statement">
        免责声明：数据内容采购于外部资讯商，数据仅供参考，不构成投资建议，请用户自主决策并自行承担投资风险。
      </div>
      <van-icon name="close" @click="close" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.show-question {
  .popup-overlay {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100%;
    opacity: 0.9;
    background-color: #262840;
    width: 100%;
  }
  .popup-content {
    position: fixed;
    top: trans2REM(125);
    left: trans2REM(30);
    right: trans2REM(30);
    z-index: 1000;
    color: #fff;
    h3 {
      font-size: trans2REM(36);
      text-align: center;
    }
    .content {
      margin-top: trans2REM(62);
      padding-top: trans2REM(20);
      border-top: trans2REM(2) solid #fff;
      div {
        font-size: trans2REM(34);
        margin-top: trans2REM(50);
      }
      div:first-child {
        margin-top: 0;
      }
      p {
        font-size: trans2REM(30);
        line-height: trans2REM(48);
      }
    }
    .statement {
      margin-top: trans2REM(150);
      font-size: trans2REM(30);
    }
    .van-icon-close {
      left: 50%;
      margin-top: trans2REM(100);
      transform: translate(-50%);
      font-size: trans2REM(80);
    }
  }
}
</style>
<script>
export default {
  name: "ShowQuestion",
  props: {
    showQuestion: {
      type: Boolean,
      default: false
    },
    close: {
      type: Function,
      default: function() {}
    }
  }
};
</script>
