<template>
  <div class="statement-component">
    <p>
      【免责声明】数据内容采购于外部资讯商，仅供参考，不作为投资决策依据，投资者依据数据内容进行投资决策所产生的收益和损失，国信证券不承担任何法律责任。
    </p>
    <p>
      国信证券不对收集数据的真实性、准确性和完整性以及传输过程中发生的传递错误承担更正以外的法律责任，所提供信息请以中国证监会指定信息披露渠道为准。
    </p>
    <p>
      如果您对所提供数据内容有任何意⻅或建议，请与客服联系，客服热线:95536。
    </p>
  </div>
</template>
<style lang="scss" scoped>
.statement-component {
  padding: trans2REM(30);
  font-size: trans2REM(26);
  color: #677288;
}
.dark {
  .statement-component {
    color: #989db5;
  }
}
</style>
<script>
export default {
  name: "Statement"
};
</script>
