<template>
  <div id="app" :class="isThemeDark ? 'dark' : ''">
    <router-view v-if="user && isReload" />
  </div>
</template>
<script>
import Vue from "vue";
import { mapState } from "vuex";
import { getBridge } from "./utils";

export default {
  data() {
    return {
      isThemeDark: null,
      isReload: true
    };
  },
  computed: {
    ...mapState("user", {
      user: "user"
    })
  },
  async created() {
    const colorType = this.$route.query.color_type;
    if (colorType === "black") {
      this.isThemeDark = true;
      sessionStorage.setItem("isThemeDark", true);
    } else {
      this.isThemeDark = false;
      sessionStorage.setItem("isThemeDark", false);
    }

    const entryPath = this.$route.path;

    await this.$store.dispatch("user/getUser");

    if (IS_PROD) {
      const bridge = getBridge();
      bridge.nativeGobackListener(true, () => {
        this.$store.commit("company/clearCompany");
        this.$store.commit("product/clearBusinessProducts");
        this.$store.commit("product/clearChainProducts");
        this.$store.commit("product/clearChainList");
        this.isReload = false;
        setTimeout(() => {
          if (this.$route.path === entryPath || this.$route.path === "/") {
            bridge.nativeGoback();
          } else {
            this.isReload = true;
            this.$router.back();
          }
        }, 200);
      });
    }
  }
};
</script>

<style lang="scss">
body {
  user-select: none;
  -webkit-touch-callout: none;
  font-family: -apple-system, "PingFangSC-Regular", "Helvetica Neue", Helvetica, Arial;
}

#app {
  background-color: #f1f2f4;
  min-height: 100%;
}
#app.dark {
  background-color: #0d1015;
  #home-page {
    .header {
      .van-search {
        background-color: #161922;
        border: trans2REM(2) solid #0d1015;
        .van-search__content {
          background-color: #161922;
          .van-icon-search,
          input {
            color: #989db5;
            &::-webkit-input-placeholder {
              color: #989db5;
            }
            &:-moz-placeholder {
              /* Firefox 18- */
              color: #989db5;
            }
            &::-moz-placeholder {
              /* Firefox 19+ */
              color: #989db5;
            }
            &:-ms-input-placeholder {
              color: #989db5;
            }
          }
        }
      }
    }
    .body {
      background-color: #161922;
      .hot-body,
      .selection-body {
        .title {
          .left {
            color: #d6d8e2;
          }
          .right {
            color: #616680;
          }
        }
      }
      .hot-body {
        .content {
          .main {
            .hot {
              color: #fff;
              background-color: #df5152;
            }
            .one {
              background-color: #dea05f;
              color: #fff;
            }
          }
          .sub {
            .one {
              background-color: #7d68ca;
              color: #fff;
            }
            .two {
              background-color: #dea05f;
              color: #fff;
            }
            .three {
              background-color: #4d7cd1;
              color: #fff;
            }
          }
        }
      }
      .selection-body {
        .row {
          div {
            color: #d6d8e2;
            background-color: #0d1015;
          }
        }
      }
    }
    .message-body {
      background-color: #161922;
      color: #d6d8e2;
      .button {
        color: #2d5195;
        // color: #589dfc;
        // #2F569E 100%
        border: trans2REM(2) solid #2f569e;
      }
    }
  }
}

#nav {
  font-size: trans2REM(30);
  padding: trans2REM(30);
}

#nav a {
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
